<footer class="site-footer">
  <a href="/docs">API docs</a>
  <span>&middot;</span>
  <a href="/privacy">Privacy</a>
  <span>&middot;</span>
  <a href="/v1/engine/versions">Engines</a>
  <span>&middot;</span>
  <a href="https://github.com/gortcodes/git-boy-3000" rel="noopener">Source</a>
  <span>&middot;</span>
  <a href="/">Pip-Boy view</a>
</footer>
