<header class="char-header" id="char-header" style="display:none">
  <img class="char-avatar" id="char-avatar" alt="" />
  <div class="char-info">
    <div class="char-name" id="char-name"></div>
    <div class="char-badges" id="char-badges"></div>
  </div>
  <div class="char-actions">
    <button class="share-btn" id="share-btn" type="button">Share</button>
  </div>
</header>
